#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: -20% auto 5% auto;
    padding: 0;
    text-align: center;
}

#nav-links * {
    margin: 20% 0 25% 0;
    font-size: 1.1em;
    text-decoration-line: none;
    color: black;
}



@media screen and (max-width: 730px){
    #nav-links{
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        margin: 0 auto;
        z-index: 3;
    }

    #nav-links *{
        color: white;
        margin: 0 auto;
        padding: 10%;
    }
}